<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="bizAutomation" verbose="2">
	<listeners>
		<listener class-name="com.jxrt.listener.DotTestListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="com.jxrt.listener.RetryListener" />
	</listeners>
 	<test name="Team2Test" preserve-order="true">
        <groups>
            <run>
                <include name="ReceivableIssue-test" />
                <include name="FinanceDataApprove-test" />
                <include name="RedeemNotice-test" />
                <include name="PayrollCreditApply-test" />
            </run>
        </groups>
        <classes>
            <class name="com.jxrt.test.Team2Test" />
        </classes>
	</test>	
</suite>
